<table bgcolor="#E2E6F2" width="100%" height="100%" cellpadding="10">
    <tr height="5%">
        <td valign="top">
            <h1>
                Listagem de Pacientes
            </h1>
        </td>
    </tr>
    <tr height="95%">
        <td align="left" valign="top" height="100%">
            <table bgcolor="white" height="10%" width="100%" cellpadding="0">
                <tr>
                    <td width="10%" align="center">
                        <img src="../../images/avatar.png" alt="Avatar padrão" width="60%">
                    </td>
                    <td width="15%" valign="middle">
                        <p>
                            <strong>Nome Completo</strong>
                        </p>
                        <p>
                            Fulado de Tal
                        </p>
                    </td>
                    <td width="15%" valign="middle">
                        <p>
                            <strong>Sexo</strong>
                        </p>
                        <p>
                            Masculino
                        </p>
                    </td>
                    <td valign="middle">
                        <p>
                            <strong>Idade</strong>
                        </p>
                        <p>
                            33 anos
                        </p>
                    </td>
                    <td align="right">
                        <p>
                            Relatório Completo 
                        </p>
                    </td>
                    <td width="10%" align="left">
                        <a href="../../pages/relatorio_paciente.html" target="_top">
                            <img src="../../images/icone_relatorio.png" width="60%">
                        </a>
                    </td>
                </tr>

                <tr>
                    <td width="10%" align="center">
                        <img src="../../images/avatar.png" alt="Avatar padrão" width="60%">
                    </td>
                    <td width="15%" valign="middle">
                        <p>
                            <strong>Nome Completo</strong>
                        </p>
                        <p>
                            Fulado de Tal
                        </p>
                    </td>
                    <td width="15%" valign="middle">
                        <p>
                            <strong>Sexo</strong>
                        </p>
                        <p>
                            Masculino
                        </p>
                    </td>
                    <td valign="middle">
                        <p>
                            <strong>Idade</strong>
                        </p>
                        <p>
                            33 anos
                        </p>
                    </td>
                    <td align="right">
                        <p>
                            Relatório Completo 
                        </p>
                    </td>
                    <td width="10%" align="left">
                        <a href="../../pages/relatorio_paciente.html" target="_top">
                            <img src="../../images/icone_relatorio.png" width="60%">
                        </a>
                    </td>
                </tr>
                
                <tr>
                    <td width="10%" align="center">
                        <img src="../../images/avatar.png" alt="Avatar padrão" width="60%">
                    </td>
                    <td width="15%" valign="middle">
                        <p>
                            <strong>Nome Completo</strong>
                        </p>
                        <p>
                            Fulado de Tal
                        </p>
                    </td>
                    <td width="15%" valign="middle">
                        <p>
                            <strong>Sexo</strong>
                        </p>
                        <p>
                            Masculino
                        </p>
                    </td>
                    <td valign="middle">
                        <p>
                            <strong>Idade</strong>
                        </p>
                        <p>
                            33 anos
                        </p>
                    </td>
                    <td align="right">
                        <p>
                            Relatório Completo 
                        </p>
                    </td>
                    <td width="10%" align="left">
                        <a href="../../pages/relatorio_paciente.html" target="_top">
                            <img src="../../images/icone_relatorio.png" width="60%">
                        </a>
                    </td>
                </tr>

                <tr>
                    <td width="10%" align="center">
                        <img src="../../images/avatar.png" alt="Avatar padrão" width="60%">
                    </td>
                    <td width="15%" valign="middle">
                        <p>
                            <strong>Nome Completo</strong>
                        </p>
                        <p>
                            Fulado de Tal
                        </p>
                    </td>
                    <td width="15%" valign="middle">
                        <p>
                            <strong>Sexo</strong>
                        </p>
                        <p>
                            Masculino
                        </p>
                    </td>
                    <td valign="middle">
                        <p>
                            <strong>Idade</strong>
                        </p>
                        <p>
                            33 anos
                        </p>
                    </td>
                    <td align="right">
                        <p>
                            Relatório Completo 
                        </p>
                    </td>
                    <td width="10%" align="left">
                        <a href="../../pages/relatorio_paciente.html" target="_top">
                            <img src="../../images/icone_relatorio.png" width="60%">
                        </a>
                    </td>
                </tr>

                <tr>
                    <td width="10%" align="center">
                        <img src="../../images/avatar.png" alt="Avatar padrão" width="60%">
                    </td>
                    <td width="15%" valign="middle">
                        <p>
                            <strong>Nome Completo</strong>
                        </p>
                        <p>
                            Fulado de Tal
                        </p>
                    </td>
                    <td width="15%" valign="middle">
                        <p>
                            <strong>Sexo</strong>
                        </p>
                        <p>
                            Masculino
                        </p>
                    </td>
                    <td valign="middle">
                        <p>
                            <strong>Idade</strong>
                        </p>
                        <p>
                            33 anos
                        </p>
                    </td>
                    <td align="right">
                        <p>
                            Relatório Completo 
                        </p>
                    </td>
                    <td width="10%" align="left">
                        <a href="../../pages/relatorio_paciente.html target="_top"">
                            <img src="../../images/icone_relatorio.png" width="60%">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>