<table bgcolor="#E2E6F2" width="100%" height="100%" cellpadding="10">
    <tr>
        <td valign="top">
            <h1>
                Relatório de Fulano de Tal
            </h1>
        </td>
    </tr>
    <tr height="80%">
        <td align="center" height="100%">
            <table bgcolor="white" width="100%" height="100%" valign="top">
                <tr>
                    <td align="left">
                        <h3>
                            Dados Gerais
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>Nome Completo: </strong>Fulano de Tal
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>Data de Nascimento: </strong>01/01/1991
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>Sexo: </strong>masculino
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>CPF: </strong>000.000.000-00
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>RG: </strong>0000000
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <h3>
                            Endereço
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>Cidade: </strong>Braço do Norte
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>Rua: </strong>Rua Fulano de Tal
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>Unidade Federativa: </strong>Santa Catarina
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>CEP: </strong>0.000.000
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <h3>
                            Contato
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>Celular: </strong>55 (11) 11111-1111
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>E-mail: </strong>fulanodetal@gmail.com
                        </p>
                    </td>
    =                        </tr>
                <tr>
                    <td align="left">
                        <h3>
                            Filiação
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <strong>Nome do pai: </strong>Fulanão de Tal
                        </p>
                    </td>
                    <td>
                        <p>
                            <strong>Nome da mãe: </strong>Fulanona de Tal
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>