<table bgcolor="white" width="100%" height="100%" cellpadding="0">
    <tr height="5%">
        <td align="center" valign="top">
            <a href="../../../index.html" target="_top">
                <font size="1">Pagina inicial</font>
            </a>
            <font size="1"> > </font>
            <a href="../index_pacientes.html" target="_top">
                <font size="1">Pacientes</font>
            </a>
        </td>
    </tr>
    <tr height="*">
        <td valign="top">
            <table width="100%" height="50%" cellpadding="0">
                <tr>
                    <td bgcolor="white" align="center" height="4%">
                        <a href="../index_pacientes.html" target="_top">
                            <font size="4" color="black">Menu principal</font>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="white" align="center" height="4%">
                        <a href="../pages/listagem_pacientes.html" target="_top">
                            <font size="4" color="black">Listagem</font>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="white" align="center" height="4%">
                        <a href="../pages/formulario_paciente.html" target="_top">
                            <font size="4" color="black">Formulário</font>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>