<table height="100%" width="100%">

    <tr>
        <td bgcolor="#1B264F" align="center" valign="middle" width="15%">
            <a href="../../../grupo_k.html" target="_top">
                <font color="white">Consultório Priscila Oliver</font>
            </a>
        </td>

        <td bgcolor="#576CAB" width="*" height="100%">
            <table height="100%">
                <tr height="100%">
                    <td bgcolor="#1B264F" width="10%" height="100%" align="center">
                        <a href="../index_pacientes.html" target="_top">
                            <font color="white">Pacientes</font>
                        </a>
                    </td>
                    <td width="10%" align="center">
                        <a href="../../anamneses_pablo/Index_anamnese.html" target="_top">
                            <font color="white">Anamneses</font>
                        </a>
                    </td>
                    <td width="10%" align="center">
                        <a href="../../servicos_carlos/Index_Servicos.html" target="_top">
                            <font color="white">Serviços</font>
                        </a>
                    </td>
                    <td width="10%" align="center">
                        <a href="../../usuarios_michel/Index_Usuarios.html" target="_top">
                            <font color="white">Usuários</font>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>